:root {

    --containerHeight: 500px;
    --gridBoxHeight: 29.25px;
}
h1{
    text-align: center;
}
#container {
    background-color: rosybrown;
    width: var(--containerHeight);
    height: var(--containerHeight);
    display: flex;
    flex-wrap: wrap;   
}

.gridBox {
    background-color:rgb(235, 97, 82);
     border: 1px solid rgb(0, 0, 0); 
    width: var(--gridBoxHeight);
    height: var(--gridBoxHeight);
}

.gridBoxMousedOver {
    background-color: seagreen;
    border: 1px solid rgb(0, 0, 0); 
    width: var(--gridBoxHeight);
    height: var(--gridBoxHeight);
}

