:root {

    --containerHeight: 600px;
    --gridBoxHeight: 37.5px;
    --numberOfBoxes: 16;
    --gridColor: rgb(236, 236, 236);
    --gridBoxColor: rgb(128, 128, 128);
}
body {
    background-color:rgb(255, 234, 234)
}
h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}
footer {
    position: absolute;
    bottom: 0;
    left: 0;
    
}
button {
    background-color: var(--gridColor);
    margin-left: 2em;
    padding: 3px 6px 3px 6px;
}
#container {
    margin: auto;
    background-color: var(--gridColor);
    width: var(--containerHeight);
    height: var(--containerHeight);
    display: grid;
    grid-template-columns: repeat(var(--numberOfBoxes), 1fr);
    grid-template-rows: auto;  
}
.gridBox {
    background-color: var(--gridColor);
    width: var(--gridBoxHeight);
    height: var(--gridBoxHeight);
}
.gridBoxMousedOver {
    background-color: var(--gridBoxColor);
    width: var(--gridBoxHeight);
    height: var(--gridBoxHeight);
}